<?xml version="1.0" encoding="UTF-8"?>
<suite name="Suite">
<listeners>
<listener class-name="com.swaglabs.utilities.ExtentListenerClass"></listener>
</listeners>
  <test thread-count="5" name="Test">
    <classes>
      <class name="com.swaglabs.testcases.TC_LoginPageTest"/>
      <class name="com.swaglabs.testcases.TC_InventoryPageTest"/>
      <class name="com.swaglabs.testcases.TC_ProductOrderTest"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
